@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Jost', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(0, 0, 0);
  color: aliceblue;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.headerDesktop{
  display: flex;
  justify-content: space-around;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin-bottom: 50px;
  background: black;
  z-index: 50;
}


ul{
  display: flex;
}

a{
  text-decoration: none;
  color: aliceblue;
}

li{
  list-style: none;
  padding: 20px;
}

.headerButton, .heroButton{
  position: relative;
  background: #800080;
  border: purple;
  color: aliceblue;
  height: 30px;
  width: 150px;
  border-radius: 5px;
  margin-top: 15px;
  z-index: 1;
  overflow: hidden;
}

.headerButton::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #713599; /* New Color: Lighter Purple */
  z-index: -1;
  
  transform: scaleX(0);


  transform-origin: left;
  
  transition: transform 0.8s ease-in-out;
}

.headerButton:hover::before {
  transform: scaleX(1); 
}

/* button:hover{
  animation: colorChange 3s ease-in-out 0.5s infinite;
} 

@keyframes colorChange {
  0%{
    transform: scale(100%);
    background: purple;
  }

  50%{
    transform: scale(130%);
    background: #713599;
  }

  100%{
    transform: scale(100%);
    background: purple;
  }
}*/

.hero{
  height: auto;
  width: 70%;
  background: purple;
  border-radius: 10px;
  margin: 9rem auto 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero h1,p{
  /*padding-left: 50px;*/
  padding-top: 20px;
}

.heroButton{
  background: #fff;
  color: purple;
  margin-top: 30px;
}

.heroButton::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #c2aaaa; /* New Color: Lighter Purple */
  z-index: -1;
  
  transform: scaleX(0);


  transform-origin: left;
  
  transition: transform 0.8s ease-in-out;
}

.heroButton:hover::before {
  transform: scaleX(1); 
}

.happyFaces{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.exampleImages{
  display: flex;
  justify-content: center;
  max-width: 90vw;
  height: auto;
  background: rgb(28, 27, 27);
  flex-wrap: wrap;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-radius: 12px;
}

.images{
  border-radius: 12px;
  margin: 2rem ;
}

.howItWorks{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hiwTextImage{
  display: flex;
  flex-direction: row;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.hiwText{
  margin-bottom: 2rem;
  margin-left: 3rem;
  line-height: 2rem;
  background: #151414;
  padding: 1rem;
  border-radius: 12px;
  width:'20rem';
}

.hiwText:hover{
  background: #786487;
}

.hiwButton{
  padding: 0;
  margin: 0;
}

.whyChooseUs{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.wcuti{
  display: flex;
  width: 90vw;
  margin-bottom: 3rem;
  margin-top: 3rem;
}

.wcuimage{
  border-radius: 12px;
  margin: 1.5rem 5rem 1.5rem 1.5rem;
}

.wculine{
  border-left-width: 0.1rem;
  border-left-style: solid;
  border-color: #713599;
  margin-left: 2rem;
  margin-right: 2rem;
}

.wcutext{
  display: grid;
  align-content: center;
}

.wculine2{
  border-color: #fff;
  margin-right: 0;
}

.wcuimage2{
  border-radius: 12px;
  margin: 1.5rem auto;
}

.testimonial{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonialImage{
  border-radius: 12px;
}

.testimony{
  background: rgb(49, 163, 51);
  width: 20rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.7rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-right: 2rem;
  border-radius: 12px;
}

.testimony p{
  text-align: justify;
  line-height: 2;
}

.testimonycontainer{
  display: flex;
}

.testimony2{
   background: rgb(116, 47, 226);

}

.testimony3{
   background: rgb(209, 159, 33);
}

.footer{
  background: #6a4980;
  display: flex;
  justify-content: space-around;
  padding: 5rem 1rem;
}

.footer p{
  width: 10rem;
  text-align: justify;
}

.footer ul{
  display: flex;
  flex-direction: column;
}

.footerfinal{
  background: #6a4980;
  display: grid;
  justify-content: center;
}

.footerfinal p{
 margin-right: auto;
}

.formWrapper{
  margin: 6rem auto;
  margin-top: 6rem;
  width: 70vw;
  height: 170vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background: #3f3640;
  border-radius: 12px;
}

.fieldset{
  border: none;
  display: flex;
  flex-direction: column;
}

input{
  margin-left: 2rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
  font-size: 1rem;
}

label{
  width: 5rem;
  display: inline-block;
}

legend{
  margin: 0 auto 1rem;
}

.cceButton{
  position: relative;
  background: rgb(174, 40, 174);
  border: purple;
  color: aliceblue;
  height: 30px;
  width: 150px;
  border-radius: 5px;
  margin-top: 15px;
  z-index: 1;
  margin: 15 auto 0;
}

.CarEligibilityResult{
  width: 75rem;
  margin: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.CarEligibilityResult img{
  border-radius: 12px;
  margin-bottom: 2rem;
}

.happyguy{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60vw;
  padding: 2rem;
  padding-bottom: 4rem;
  text-align: justify;
}

.sadguy{
  display: flex;
  justify-content: center;
  align-items: center;
}

.sadguy h1{
  padding-left: 3rem;
}

span{
  color: rgb(128,0, 128);
  background: black;
}

img{
  transform: scale(1);
  transition: transform 2s ease-in-out;
}

img:hover{
  transform: scale(1.2);
}

.about, .brands{
  margin: 15rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  text-align: justify;
  background: #fff;
  color: black;
  width: 50rem;
  border-radius: 12px;
}

.brands{
  padding: 0;
}

.brands div{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

.brands p{
  width: 9rem;
  height: 5rem;
  border-radius: 8px;
}

.ttt{
 margin-top: 5rem;
 display: flex;
 flex-direction: column;
 align-items: center;
}

.ttt:last-child{
  margin-bottom: 5rem;
}

.UploadImage{
  margin-top: 20rem;
  margin-bottom: 20rem;
}

.hamburgerMenu{
  display: none;
}


@media screen and (max-width: 768px) {

  body{
    width: 100%;
  }

  .hero{
    height: auto;
    padding-bottom: 2rem;
  }

  .bigScreenView{
    display: none;
  }
  
  .hamburgerMenu{
    display: block;
  }

  .headerMobile{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    color: #800080;
    position: absolute;
    top: 60px;
    width: 80%;
    height: 100%;
    z-index: 50;
  }

  .hiwTextImage{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hiwText{
    margin-top: 2rem;
    margin-left: 0;
  }

  .wcuti{
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
    margin-top: 3rem;
    align-items: center;
  }

  .wcutimobile{
    display: flex;
    flex-direction: column-reverse;
  }

  .wcuimage{
    margin: 0;
    padding: 0;
  }

  .wculine{
    border-bottom-width: 0.1rem;
    border-bottom-style: solid;
    border-color: #713599;
    margin-top: 3rem;
    margin-bottom: 2rem;
    width: 25rem;
  }

  .wcutext{
    display: grid;
    align-content: center;
    text-align: center;
  }

  .wculine2{
    border-color: #fff;
    margin-right: 0;
  }

  .wcuimage2{
    border-radius: 12px;
    margin: 1.5rem auto;
  }

  .testimonycontainer, .footer{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer{
    padding-bottom: 1rem;
  }

  .footer section{
    margin-bottom: 5rem;
    width: 15rem;
  }

  .footer li{
    padding-left: 0;
  }

}

